* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  background: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RHIZOME CLOUD PAGE */

#black-out-screen {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: block;
  transition: background-color 1s ease-out;
  opacity: 0;
}

#svg-container {
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

.rhizome-grid-item {
  /* background-color: rgba(255, 255, 255, 0.5);
  border: 2px black solid; */
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  position: fixed;
  width: 10%;
  height: 20vh;
  z-index: 0;
  transition: all 1s ease-in-out;
}

.rhizome-item-background {
  z-index: -2;
  position: absolute;
  top: 0px;
  left: 0px;
  /* width:100%; 
    height: 100%; */
  transform-origin: center;
}

.svg-background svg,
.svg-foreground svg {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s;
}

.svg-background svg {
  z-index: -5;
}

.svg-foreground svg {
  z-index: 5;
}

.rhizome-item-hover-screen {
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: opacity 0.75s;
}

.rhizome-grid-item h1,
.rhizome-grid-h1 {
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  top: 35%;
  margin: auto;
  z-index: 1;
  color: rgba(0, 0, 0, 1);
  transition: color 0.75s ease-in;
}

.rhizome-item-hover-screen h2 {
  text-align: center;
  margin: auto;
  width: 60%;
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  transition: color 0.75s ease-out;
}

.rhizome-grid-item-hover {
  transform: scale(1.25);
  cursor: grab;
  display: flex;
}

.rhizome-item-focus {
  /* transform-origin: top right; */
  position: absolute;
  width: 90%;
  height: 90vh;
  left: 5%;
  top: 5vh;
  z-index: 5000;
}

.rhizome-item-hover-screen button {
  position: absolute;
  width: 40%;
  top: 75%;
  left: 30%;
  z-index: 10;
}
