*{
    padding:0; 
    margin:0; 
    box-sizing: border-box;
}

body{
    background:black;
    display:flex; 
    align-items: center;
    justify-content: center;
}



#data-scapes-container{
    background: white;
    transform-origin: center;
    width:100%; 
    height:100vh;
    margin: auto;
    transform: scale(1);
    transition: all 2s ease-in-out;
}

/* RHIZOME CLOUD PAGE */
#rhizome-cloud-container{
    background: black;
    transform-origin: center;
    transform: scale(1);
    transition: all 2s ease-in-out;
}

#rhizome-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap:50px;
    width:100%;
    height:100vh;
    background-color:red;
}

#rhizome-grid-datascapes-container{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}

.title-overlay-zoom-out{
   background-color:cyan; 
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
    padding: 1%;
   position:fixed;
   width:auto;
   height:auto;
   z-index:100;
   transform-origin: center ;
   transform: scale (1);
   /* opacity:1; */
   transition: all 1s ease-in-out;
}

.title-overlay-zoom-out h1{
    /* display: inline-block; */
    margin:auto;
    width:100%; 
    color: rgba(0,0,0,1);
    transition: color 0.75s ease-in;
}

.title-overlay-zoom-out h2{
    position: absolute; 
    width:100%; 
    height:80%; 
    left:0px; 
    top:20%;
    color: rgba(0,0,0,0);
    transition: color 0.75s ease-out
}

.title-overlay-zoom-out:hover{
   transform: scale(1.25);
   cursor:pointer;
 }


.opened-container{
    width:100%; 
    height:110vh;
    position:absolute; 
    left:0px; 
    top:0px; 
}